###> symfony/framework-bundle ###
APP_ENV=
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=
JWT_PUBLIC_KEY=
JWT_PASSPHRASE=
###< lexik/jwt-authentication-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=
###< symfony/messenger ###

###> traefik/letsencrypt ###
CLOUDFLARE_DNS_API_TOKEN=
###< traefik/letsencrypt ###

###> cloudflare/r2 ###
R2_PUBLIC_URL=https://cdn.jugaenequipo.com
###< cloudflare/r2 ###
