http:
  routers:
    symfony:
      rule: Host(`api.jugaenequipo.com`)
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      service: symfony
      middlewares:
        - security-headers

    mercure:
      rule: Host(`mercure.jugaenequipo.com`)
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      service: mercure
      middlewares:
        - security-headers

    traefik:
      rule: Host(`traefik.jugaenequipo.com`)
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
      service: api@internal
      middlewares:
        - traefik-auth
        - security-headers

  services:
    symfony:
      loadBalancer:
        servers:
          - url: "http://jee_symfony:80"
    mercure:
      loadBalancer:
        servers:
          - url: "http://jee_mercure:80"

  middlewares:
    traefik-auth:
      basicAuth:
        users:
          - "admin:$$apr1$$8evjzm8z$$Yf6VlVbhXj9M9v7qHJ5xN/"
    security-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        browserXssFilter: true
        contentTypeNosniff: true
        referrerPolicy: "no-referrer-when-downgrade"
        customFrameOptionsValue: "SAMEORIGIN"
        contentSecurityPolicy: "upgrade-insecure-requests; block-all-mixed-content"